.card {
    max-width: 200px;
    border: 2px solid white;
    padding: 2em;
    padding-bottom: 0.5em;
    text-align: center;
    margin: auto;
}

.card p {
    text-transform: capitalize;
}

@media (prefers-color-scheme: light) {
    .card {
        border: 2px solid black;
    }
}